@model IEnumerable<KidShop.Areas.Admin.Models.DataModel.Product>

<!-- Jquery UI -->
<link href="~/Areas/Admin/Content/Vendors/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="/Admin/Product/Create" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span> Thêm sản phẩm</a>
        <a href="#" class="btn btn-info btn-sm"><span class="fa fa-barcode"></span> In mã sản phẩm</a>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
        <input type="text" placeholder="Tìm kiếm | Nhập tên hoặc mã sản phẩm" class="form-control input-sm" id="txtsearch" />
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Danh sách sản phẩm</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <div>
            <span id="pageInfo"></span>
            <ul id="pagination" class="pagination1">
                <li id="goPrevious"> <a href="#Previous"><i class="fa fa-chevron-left"></i></a> </li>
                <li id="goNext"> <a href="#Next"><i class="fa fa-chevron-right"></i></a> </li>
            </ul>
        </div>
        <div class="clearfix">

        </div>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="column-title no-link last">
                            <span class="nobr">Hành động</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody id="paging">
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    /* Pagination */
    .pagination1{
        list-style-type: none;
        float: right;
    }
    .pagination1 li{
        height: 30px;
        width: 30px;
        float: left;
        margin-left: 8px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
    }
    .pagination1 li a{
        line-height: 30px;
        font-weight: bold;
    }
    .pagination1 .active{
        background-color: rgba(52,73,94,0.94);
    }
    .pagination1 .active a{
        color: #fff;
    }
    #pageInfo{
        height: 30px;
        line-height: 30px;
        float: left;
        font-weight: bold;
    }

    /* Custom autocomplete */
    .ui-widget-content .ui-state-active {
        color: #000;
        background: rgba(231, 231, 231, 0.41);
        margin-left: 0.5px;
        border: none;
    }
    .ui-menu-item-wrapper {
        height: 50px;
    }
</style>

<!-- Autocomplete Search Product -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtsearch').autocomplete({
            minLength: 1,
            select: function (event, ui) {
                var url = 'http://'+window.location.host+'/Admin/Product/Edit/'+ui.item.ProductId;
                window.location.assign(url.toString());
                console.log(url);
                return false;
            },
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/Product/SearchProduct',
                    type: 'POST',
                    dataType: 'json',
                    data: { key:request.term },
                    success: function (data) {
                        response(data.Data);
                    }
                });
            },
        })
        .autocomplete('instance')._renderItem = function (ul, item) {
            var add = '';
            add += '<div class="col-md-9 col-sm-6 col-xs-12">';
            add += '<span class="col-md-12 col-sm-12 col-xs-12"><b>' + item.ProductName + '</b></span>';
            add += '<span class="col-md-12 col-sm-12 col-xs-12">' + item.ProductId + '</span>';
            add += '</div>';
            add += '<div class="col-md-3  col-sm-6 col-xs-12">';
            add += '<span class="col-md-12 col-sm-12 col-xs-12"><i class="fa fa-usd"></i>: ' + item.Price + '</span>';
            add += '<span class="col-md-12 col-sm-12 col-xs-12"><i class="fa fa-sort-numeric-desc"></i>: ' + item.Qty + '</span>';
            add += '</div>';
            return $('<li>')
                .append(add)
                .appendTo(ul);
        }
    });
</script>

<!-- Jquery UI -->
<script src="~/Areas/Admin/Content/Vendors/jquery-ui/jquery-ui.min.js"></script>
<!-- Pagination -->
<script src="~/Areas/Admin/Content/jquery-paginate.js"></script>