
@if (Session["Email"] != null)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left sk-top-nav-left" style="position: relative;z-index: 9;">
            <li><a href="@Url.Action("Index", "Manage")" title="Manage"><i class="fa fa-user"></i> @Session["FirstName"]!</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left sk-top-nav-left" style="position: relative;z-index: 9;">
        <li><a href="@Url.Action("Login", "Account", new { returnUrl = Request.RawUrl })"><i class="fa fa-user"></i> Đăng nhập</a></li>
        <li><a href="@Url.Action("Register", "Account", new { returnUrl = Request.RawUrl })"><i class="fa fa-user-plus"></i> Đăng ký</a></li>      
    </ul>
}
